<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214950619734-bhf65nb0t8rqc43kgduc61o11olga97i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214950619734-bhf65nb0t8rqc43kgduc61o11olga97i</string>
	<key>API_KEY</key>
	<string>AIzaSyAbSwe-ldSxjma2Rch1xUNBq5bz_fAUhyo</string>
	<key>GCM_SENDER_ID</key>
	<string>214950619734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.oluko.qa</string>
	<key>PROJECT_ID</key>
	<string>oluko-qa</string>
	<key>STORAGE_BUCKET</key>
	<string>oluko-qa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214950619734:ios:52b15a6d8b68ad91a7e9f7</string>
</dict>
</plist>