<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14784345427-18l9mjbgebs3ts9n8tkj27vk7ks2bns7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14784345427-18l9mjbgebs3ts9n8tkj27vk7ks2bns7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>14784345427-8tnb0dg58eedg5dradl8ikp1f0do3hur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALC7wOaW79bnTNrxwSCn1v9MHn1Pi-Vto</string>
	<key>GCM_SENDER_ID</key>
	<string>14784345427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.olukoApp</string>
	<key>PROJECT_ID</key>
	<string>oluko-2671e</string>
	<key>STORAGE_BUCKET</key>
	<string>oluko-2671e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14784345427:ios:e3aa4c755c3d4138131da6</string>
</dict>
</plist>