<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320403124104-ppl0rb8eq0e12rpean64ulsoe9c0dqfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320403124104-ppl0rb8eq0e12rpean64ulsoe9c0dqfc</string>
	<key>API_KEY</key>
	<string>AIzaSyDLESt6XtohOCH_y7HrfrJKCVypluzswL4</string>
	<key>GCM_SENDER_ID</key>
	<string>320403124104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.olukoApp</string>
	<key>PROJECT_ID</key>
	<string>oluko-development</string>
	<key>STORAGE_BUCKET</key>
	<string>oluko-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320403124104:ios:bdae3deb3332ea3f68943d</string>
</dict>
</plist>